
/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    /*header ruler here*/
    .header {display: flex;
        align-items: center;
        justify-content: center;}
        .cover{ position: relative; width: 100%;
            height: 100%;}
 
    /*NAVIGATION RULES HERE*/
    nav button {display: none;}
    nav ul.hide a {display: block}
    nav ul { display: flex;}
    nav ul li {
        flex: 1 1 100%;}
        nav ul li a { border: none;
            border-right: 1px solid rgba(0,0,0,0.3);
            padding: .8rem 10rem;
            font-size: 16px;}

 .header h1{font-size:40px;}
    /*Main rules here*/
    .preston{display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: none;
        background-color: white;}

        section:nth-child(2) h2{grid-column: 1;} 
        section:nth-child(2) sub{grid-column: 1;} 
        section:nth-child(2) p{grid-column: 1;} 
        section:nth-child(2) img{grid-column: 2; margin-top:-130px;} 
        sub{font-size: 11px;}
       p{font-size: 14px; margin-top:-70px;}



}
 /*end medium */