@media only screen and (min-width:35rem){
    /*HEADER RULES*/
    div.logo-title{display: flex; margin:10px 5px 0 10px;}
    header div.logo-title h1{margin-left: 10px;
        font-size: 30px;
    
    }
    header{display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
    /*NAVAGATION RULES*/
   
   div.navigation{margin-top: 20px;}
   div.navigation nav button{display: none;}
 
   div nav ul.hide{ display: flex; flex-direction: row;
    width: fit-content;
    margin-top: 5px;
   }
   div nav ul li a{
    text-align: center; 
    padding: 5px 10px;
    font-size: 17px;
    margin-right: auto;
   }
  
   header div img.logo{
       width: 80px;


   }
  div.hero h2.message{
       font-size: 60px;
 }
 div section.call-us{margin: 15px;}
 div section.call-us img{width: 100px;}
 div section.call-us p{font-size: 20px;}
 /*IMAGES-COZUMEL*/
 section.cozumel{
     display: flex;
 }
 section.cozumel div{padding: 10px;}

/*TYPE OF RENTALS*/
div.rent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    column-gap: 5px;
}
section.type-rent{
    grid-column: 2/3;
}
section.honda{
    grid-column: 1/2;
    margin-top: 5px;
}
section.atv{
    grid-column: 2/3;
}
section.jeep{
    grid-column: 3/4;
}
section.click{
    grid-column: 2/3;
}
/*WEATHER SUMMARY*/
div.weath{
    display:flex;
    width: max-content;
    column-gap: 40px;
}

/*FORECAST*/
div.forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
}
div.forecast section h5{
    font-size: 20px;
}
div.forecast section.fore1{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 0;
}
div.forecast section.fore2{
    grid-column: 2/3;
}
div.forecast section.fore3{
    grid-column: 3/4;
    margin-left: 0;
}
div.forecast section.forecast-heading{
    grid-row: 1/2;
    grid-column: 2/3;
}
/*FOOTER-SOCIAL MEDIA*/
.foot{
    text-align: center;
}
.foot p{
    font-size: 20px;
}
div.socialMedia{
    justify-self: end;
}
footer span#dates{
    font-size: small;
}
 a.fa{
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
   }   

}