html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*TEXT RULES*/
h1, h2, li{font-family: 'Lora', serif;
}

/*HEADER RULES*/

p, a{font-family:'Merriweather', sans-serif ;}
div.logo-title{display: flex;}
header div h1{font-size: 26px; margin: auto;
  
  }
div img.logo{width: 100px;}
/*NAVIAGATION RULES*/
nav button{
  margin: .2rem 2%;
  background-color: transparent;
  border:none;
  font-size: 1.6rem;
  color: #000;
}
nav ul.hide{display:none;}
nav ul {list-style-type: none;
        text-align: right; margin-top: 10px;
        margin: 0;
        padding: 0;
        border-radius:20px;
      }
nav ul li a{display:block; 
  text-decoration: none;
  border-top: 0.5px solid rgba(0,0,0,0.1);
  padding:8px 4px;
  margin-right: 10px;
  font-size:20px;
  border-radius:10px;

}
div.navigation{max-width: 100%;}
div.navigation button{display: block; 
  margin-left: auto;}
nav ul{background-color: #ecf0b4; }
nav ul li a:hover{background-color:#b87a77;
  color: whitesmoke;
  border-radius:10px;

}
nav ul li.active a{
  background-color: #b87a77;
  color: white;
  border-radius:10px;
}
/* MOTTO AND COVER*/
.cover{max-width: 100%;}
div.hero{position: relative;}
div.hero h2{position: absolute; left: 0; 
  top:0; 
  color:white; 
  margin-left: 10px;
  font-size: 25px;
  background-color: #7fc3ff;
  display:inline;
  width: fit-content;
}
section.call-us{display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 7px;
  background-color:#81B1D8 ;
  border-radius:5px;
}
section.call-us img{width: 40px;}
section.call-us p{color: rgba(0,0,0,0.7);
   font-size: 10px;
   font-weight: 600;
   padding: 4px;
  }


  /*MAIN RULES HERE*/
  div.information{
    text-align: center;
    background: linear-gradient(rgba(255, 170, 170, 0.5), white);
    padding: 20px;
    margin-top: 20px;
    }
  div.information h2{
    font-size: 2rem;
    border: solid .01px #b87a77;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
  }
  /*COZUMEL IMAGES*/
  .cozumel-1, .cozumel-2{
    max-width: 100%;
  }
/*TYPE OF RENTALS*/
.rent{
  background: linear-gradient( to right, white, rgba(129, 177, 219, 0.3), white);
  display: block;
  padding: 20px;
}
.rent h2{text-align: center;
  border: solid .01px #b87a77;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
}
.rent section.type-rent{
  margin-bottom: -10px;
}
.honda{background-color: rgba(0,0,0,0.08);
  padding: 0.3px 4px;
  margin-top: 30px;
  border-radius: 8px;
}
.atv{background-color: rgba(0,0,0,0.08);
  padding: 0.3px 4px;
  margin-top: 5px;
  border-radius: 8px;

}
.jeep{
  background-color: rgba(0,0,0,0.08);
  padding: 0.3px 4px;
  margin-top: 5px;
  border-radius: 8px;
}
.click {
  display: block;
  text-align: center;
  border: 2px solid rgba(0,0,0,0.08);
  width: fit-content;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 5px;
  background-color:  #9c2c13;
  color:white;
}
.click:hover{
  opacity: 0.7;
}
.click a{
  text-decoration: none;
  color: white;
}
/*WEATHER SUMMARY*/
.weather{
  background: linear-gradient( to left,white, rgba(255, 170, 170, 0.3), white);
  display: block;
  padding: 20px;
  margin-top: 10px;
}
.weather h2{text-align: center;
  border: solid .01px #b87a77;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;

}
.weath{
  margin-top: px;
  background-color: #f9fae8;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 10px;
  
}


/*FORECAST*/
.forecast{
  background: linear-gradient( to right, white, rgba(129, 177, 219, 0.3), white);
  padding: 20px;
  margin-top: 10px;
}
.forecast-heading h2{
  border: solid .01px #b87a77;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;

}
.forecast {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;  
}
.forecast section.fore1, .forecast section.fore2, .forecast section.fore3 {
margin: 0 auto;
width: fit-content;
background-color:#f9fae8;
line-height: 5px;
padding: 5px 20px;
border-radius: 4px;
}
.forecast section h5{
text-align: center;

}
/*FOOTER-SOCIAL MEDIA BUTTOMS*/
footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient( to right, white,#f9fae8, white);
}
footer p{
  font-size: 12px;
  margin-bottom: 0;
}
.socialMedia{
  justify-self: start;
}
footer span{
  font-size: 8px;
  color: red;
}
.fa{
  padding: 10px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram{
  background: #125688;
  color: white;
}
.fa-twitter{
  background: #55acee;
  color: white;
}
.fa-twitter{
  background: #55ACEE;
}
.fa-youtube{
  background: #bb0000;
  color: white;
}
 .fa:hover{
  opacity: 0.7;

}

