@media only screen and (min-width: 64em) {
    /*main styles*/
    .cards{width: 1024px;}
    .cards{ margin:0 auto;
        }
    /*images styles*/
    /*font styles*/
    header h1{font-size: 3rem;}
    .head{width:30rem;}
    h2{font-size:2rem;}
    p{font-size: 2rem;}
    footer.foot{font-size:2rem;}
    
        
    }