//@import "variables";
//import "globals";
html {
    background-color: inherit;
    width: 1400px;
    margin: 0 auto;
}
body{
     font-family: 'Poppins', sans-serif;
}
.hero {
    background: linear-gradient(rgba(80, 78, 78, 0.4), rgba(0, 0, 0, 0.4)), url(/KISTH/images/hero.png);
    height: 130vh;
    max-width: 100%;
    background-position: top;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;

    ul {
        flex: 1;
        text-align: right;

        li {
            display: inline-block;
            list-style: none;
            margin: 10px 25px;

            a {
                color: #fff;
                text-decoration: none;
                &:hover{
                     color: #ff5361;
                }
            }
        }
    }
}

.logo {
    width: 110px;
}
.upload-btn{
    background:#ff5361;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 30px;
    margin-left: 25px;
    transition: 0.5s;
    &:hover{
        transform: scale(0.9);
    }
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    h1 {
        font-size: 52px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    input {
        width: 90%;
        max-width: 840px;
        height: 55px;
        border-radius: 30px;
        border: none;
        padding: 0 30px;
        outline: none;
        margin: 20px 0;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: #fff;

        &:hover {
            color: #ff5361;
        }
    }
}
::placeholder{
    font-weight: 500;
}