
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64em) {
/*Body Header Here*/



/*header rules here*/
.preston-header{ display:block; margin-left:-39rem;}

picture{ grid-column: 2/3;}
main, header, nav, .information, .article, .otavalo, .wireframe { max-width: 1024px;
        margin: 0 auto;} 
        nav button {display: none;}
        nav ul.hide a {display: block}
        nav ul { display: flex;}
        nav ul li {
            flex: 1 1 100%;}
 
 /*main rules here*/
 h1{text-align: center;}  

 #where{ display:block;
         margin-left:30rem;
         margin-top:-25px;}
 img#map{display:block;
         float:left;
        width:30rem;}
}